@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
/*RWD mixins
@include media-breakpoint-up(sm) {
	@media (min-width: 544px) {}
}
@include media-breakpoint-down(sm) {
	@media (min-width: 544px) and (max-width: 768px) {}
}
@include media-breakpoint-between(sm, md) {
	@media (min-width: 576px) and (max-width: 991px) {}
}*/
* {
  box-sizing: border-box;
}

.jumbotron {
  min-height: 70vh;
  background-image: url(../images/surfing.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (min-width: 992px) {
  .jumbotron .jumbotron-fade {
    position: absolute;
    background-image: linear-gradient(to top, #ffffff 5%, rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.jumbotron .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.jumbotron .navbar-brand {
  font-family: "Montserrat";
  color: #000000;
  font-weight: 700;
  letter-spacing: -1.03px;
}

@media (max-width: 767.98px) {
  .jumbotron .navbar-brand {
    margin-right: 2vw;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .jumbotron .navbar-brand {
    margin-right: 4vw;
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  .jumbotron .navbar-brand:hover {
    color: #00b0ff;
  }
}

@media (min-width: 1200px) {
  .jumbotron .navbar-brand {
    padding: 0;
    margin-right: 8vw;
    font-size: 34px;
  }
}

.jumbotron .navbar-toggler-icon {
  font-size: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

@media (max-width: 767.98px) {
  .jumbotron .nav-icons {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .jumbotron .nav-icons {
    margin-left: 4vw;
  }
}

@media (min-width: 1200px) {
  .jumbotron .nav-icons {
    margin-left: 8vw;
  }
}

.jumbotron .nav-icons i {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 25px;
  height: 25px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50%;
  font-size: 15px;
  margin: 0 2px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .jumbotron .nav-icons i:hover {
    background-color: #00b0ff;
    color: #000000;
  }
}

@media (min-width: 1200px) {
  .jumbotron .nav-icons i {
    font-size: 18px;
    width: 36px;
    height: 36px;
    margin: 0 3px;
  }
}

@media (max-width: 767.98px) {
  .jumbotron .navbar-nav {
    text-align: center;
  }
}

.jumbotron .navbar-nav .nav-link {
  font-family: "Montserrat";
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  margin: 0 7px;
}

@media (min-width: 992px) {
  .jumbotron .navbar-nav .nav-link:hover {
    background-color: #00b0ff;
    color: #ffffff;
  }
}

.jumbotron .dropdown-menu {
  opacity: 0.5;
}

.jumbotron .dropdown-menu .dropdown-item {
  font-family: "Montserrat";
}

.jumbotron .dropdown-menu .dropdown-item:hover {
  background-color: #00b0ff;
  color: #ffffff;
}

.jumbotron .header-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100%;
  margin-top: 50px;
  position: relative;
}

@media (min-width: 992px) {
  .jumbotron .header-text {
    margin-top: 150px;
  }
}

.jumbotron h1 {
  font-family: "Playfair Display";
  font-style: italic;
  color: #000000;
}

@media (max-width: 575.98px) {
  .jumbotron h1 {
    font-size: 22px;
  }
}

@media (min-width: 576px) {
  .jumbotron h1 {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .jumbotron h1 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .jumbotron h1 {
    font-size: 50px;
  }
}

.jumbotron h3 {
  font-family: "Playfair Display";
  font-style: italic;
  color: #ffffff;
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.64);
}

@media (max-width: 575.98px) {
  .jumbotron h3 {
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .jumbotron h3 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .jumbotron h3 {
    font-size: 24px;
  }
}

.card {
  border: none;
}

.card .carousel {
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.34);
  margin-top: 100px;
}

.card .carousel [class*='col-'] {
  padding: 0;
}

.card .carousel .carousel-control-prev-icon, .card .carousel .carousel-control-next-icon {
  background-color: #f2d800;
  width: 38px;
  height: 38px;
}

.card .carousel .carousel-indicators li {
  background-color: #f2d800;
  cursor: pointer;
}

.card .carousel .triangle-up-left {
  position: absolute;
  width: 0;
  height: 0;
  padding-bottom: 50%;
  padding-left: 50%;
  overflow: hidden;
}

.card .carousel .triangle-up-left:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -558px;
  border-top: 558px solid #00d2ff;
  border-right: 500px solid transparent;
}

.card .carousel .boards-text {
  position: absolute;
  font-family: "Montserrat";
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 110px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.03;
  color: #000000;
  display: inline-block;
  transform: rotate(-180deg);
  line-height: 75px;
}

.card .carousel .carousel-item {
  margin-top: 30px;
  padding: 30px;
}

@media (min-width: 768px) {
  .card .carousel .carousel-item .board-pics {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
}

.card .carousel .carousel-item .board-pics img {
  width: 69px;
  height: 69px;
  margin: 2px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .card .carousel .carousel-item .board-pics img:hover {
    border: 3px solid #00b0ff;
  }
}

.card .carousel .carousel-item .board-desc {
  margin-top: 10px;
  max-width: 450px;
}

@media (min-width: 992px) {
  .card .carousel .carousel-item .board-desc {
    padding: 0 15px;
  }
}

.card .carousel .carousel-item .board-desc h4 {
  color: #000000;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
}

@media (min-width: 992px) {
  .card .carousel .carousel-item .board-desc h4 {
    font-size: 20px;
  }
}

.card .carousel .carousel-item .board-desc .stars {
  color: #787878;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0 30px;
}

.card .carousel .carousel-item .board-desc .nav-link.active {
  border-color: #fff #fff #00b0ff;
  border-bottom: 3px solid #00b0ff;
  color: #000000;
}

.card .carousel .carousel-item .board-desc .nav-link {
  color: #a0a0a0;
  font-family: "Raleway";
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

@media (min-width: 992px) {
  .card .carousel .carousel-item .board-desc .nav-link {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.card .carousel .carousel-item .board-desc .tab-content {
  margin-top: 10px;
  color: #787878;
  font-family: "Raleway";
  font-size: 12px;
  line-height: 24px;
}

@media (min-width: 992px) {
  .card .carousel .carousel-item .board-desc .tab-content {
    margin-top: 20px;
    font-size: 16px;
  }
}

.card .carousel .carousel-item .board-desc .buy {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 10px 0;
}

@media (min-width: 992px) {
  .card .carousel .carousel-item .board-desc .buy {
    margin: 20px 0;
  }
}

.card .carousel .carousel-item .board-desc .price {
  color: #000000;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 700;
  margin-right: 20px;
}

@media (min-width: 992px) {
  .card .carousel .carousel-item .board-desc .price {
    font-size: 20px;
    margin-right: 40px;
  }
}

.card .carousel .carousel-item .board-desc .btn {
  background-color: #00b0ff;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border-radius: 0;
  padding: 4px 10px;
}

@media (min-width: 992px) {
  .card .carousel .carousel-item .board-desc .btn {
    font-size: 14px;
    padding: 8px 20px;
  }
}

.card .carousel .carousel-item .board-desc .all-boards {
  color: #00b0ff;
  font-family: "Montserrat";
  font-size: 12px;
}

@media (min-width: 992px) {
  .card .carousel .carousel-item .board-desc .all-boards {
    font-size: 16px;
  }
}

.about-us {
  margin-top: 100px;
  padding: 0;
}

@media (min-width: 992px) {
  .about-us {
    margin-top: 200px;
  }
}

.about-us .about-us-header {
  padding: 0 5px;
  opacity: 0.03;
  color: #000000;
  font-family: "Montserrat";
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 15px;
  line-height: 50px;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .about-us .about-us-header {
    font-size: 90px;
  }
}

@media (min-width: 992px) {
  .about-us .about-us-header {
    font-size: 120px;
    letter-spacing: 19.6px;
  }
}

@media (min-width: 1200px) {
  .about-us .about-us-header {
    font-size: 180px;
    letter-spacing: 19.6px;
  }
}

.about-us .about-us-pic {
  margin-top: 30px;
}

@media (min-width: 992px) {
  .about-us .about-us-pic {
    background-image: url(../images/about-us-2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70vh;
    position: relative;
  }
}

.about-us .about-us-pic .about-us-content {
  background-color: #fff;
}

@media (min-width: 992px) {
  .about-us .about-us-pic .about-us-content {
    position: absolute;
    bottom: 0;
  }
}

.about-us .about-us-pic .about-us-content .about-us-text {
  padding: 20px;
}

@media (min-width: 1200px) {
  .about-us .about-us-pic .about-us-content .about-us-text {
    padding: 30px;
  }
}

.about-us .about-us-pic .about-us-content .about-us-text .about-us-text-header h6 {
  color: #000000;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 700;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .about-us .about-us-pic .about-us-content .about-us-text .about-us-text-header h6 {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .about-us .about-us-pic .about-us-content .about-us-text .about-us-text-header h6 {
    font-size: 20px;
  }
}

.about-us .about-us-pic .about-us-content .about-us-text .about-us-text-header .fas {
  padding: 10px 0 20px;
}

.about-us .about-us-pic .about-us-content .about-us-text p {
  color: #000000;
  font-family: "Playfair Display";
  font-size: 12px;
  font-style: italic;
  line-height: 38px;
}

@media (min-width: 992px) {
  .about-us .about-us-pic .about-us-content .about-us-text p {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .about-us .about-us-pic .about-us-content .about-us-text p {
    font-size: 18px;
  }
}

.about-us .about-us-pic .about-us-content .about-us-text a {
  color: #00b0ff;
  font-family: "Montserrat";
  font-weight: 700;
}

.about-us .about-us-pic .about-us-content-2 {
  padding: 0;
}

@media (max-width: 1199.98px) {
  .about-us .about-us-pic .about-us-content-2 {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .about-us .about-us-pic .about-us-content-2 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.about-us .about-us-pic .about-us-content-2 .about-us-link {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  box-shadow: 20px 35px 50px rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
  .about-us .about-us-pic .about-us-content-2 .about-us-link {
    transform: translate(1rem, 12rem);
  }
}

@media (min-width: 1200px) {
  .about-us .about-us-pic .about-us-content-2 .about-us-link {
    transform: translate(5rem, 14rem);
  }
}

.about-us .about-us-pic .about-us-content-2 .fa-play-circle {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #ffffff;
  font-size: 50px;
}

.our-team {
  margin-top: 5rem;
  margin-bottom: 200px;
}

@media (min-width: 992px) {
  .our-team {
    margin-top: 20rem;
  }
}

.our-team .our-team-header {
  padding: 0 5px;
  opacity: 0.03;
  color: #000000;
  font-family: "Montserrat";
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 15px;
  line-height: 1;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .our-team .our-team-header {
    font-size: 90px;
  }
}

@media (min-width: 992px) {
  .our-team .our-team-header {
    font-size: 120px;
    letter-spacing: 19.6px;
  }
}

@media (min-width: 1200px) {
  .our-team .our-team-header {
    font-size: 180px;
    letter-spacing: 19.6px;
  }
}

.our-team .our-team-members {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 992px) {
  .our-team .our-team-members {
    margin-top: -20px;
  }
}

@media (min-width: 992px) {
  .our-team .our-team-members .first {
    position: relative;
    z-index: 1;
    margin: -20px;
  }
}

@media (min-width: 992px) {
  .our-team .our-team-members .second {
    position: relative;
    z-index: 2;
  }
}

.our-team .our-team-members .team-member {
  width: 260px;
  height: 278px;
  background-color: #fff;
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  box-shadow: 10px 17px 50px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
}

@media (min-width: 992px) {
  .our-team .our-team-members .team-member:hover {
    background-color: #00b0ff;
  }
  .our-team .our-team-members .team-member:hover h6 {
    color: #ffffff;
  }
  .our-team .our-team-members .team-member:hover a {
    color: #b3e7ff;
  }
  .our-team .our-team-members .team-member:hover .team-pic {
    border: 1.5px solid #fff;
    border-radius: 100%;
  }
  .our-team .our-team-members .team-member:hover .team-wave {
    width: 31px;
    height: 6px;
    background: url(../images/hover-waves.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 767.98px) {
  .our-team .our-team-members .team-member {
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .our-team .our-team-members .team-member {
    -ms-flex: 50%;
        flex: 50%;
    max-width: 50%;
  }
}

.our-team .our-team-members .team-member .team-pic {
  margin: 15px;
}

.our-team .our-team-members .team-member h6 {
  color: #00b0ff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.our-team .our-team-members .team-member a {
  color: #8c8c8c;
  font-family: "Raleway";
  font-size: 14px;
}

.our-team .our-team-members .team-member a .fas {
  margin: 0 5px;
}

.our-team .our-team-members .team-member .team-wave {
  padding: 15px 0;
}

.updates .updates-header {
  margin-bottom: 40px;
}

.updates .updates-header h6 {
  font-weight: 700;
  color: #000000;
  font-family: "Montserrat";
  font-size: 18px;
  letter-spacing: 2.52px;
}

.updates .updates-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 992px) {
  .updates .updates-content {
    margin: 0 70px;
    position: relative;
    z-index: 2;
  }
}

.updates .updates-content .updates-item {
  transition: all 1s ease-in-out;
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 10px;
  background-color: #ffffff;
}

@media (min-width: 992px) {
  .updates .updates-content .updates-item:hover {
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 991.98px) {
  .updates .updates-content .updates-item {
    -ms-flex-align: center;
        align-items: center;
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
  }
}

.updates .updates-content .updates-item .updates-item-pic {
  position: relative;
}

.updates .updates-content .updates-item .updates-item-pic img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 992px) {
  .updates .updates-content .updates-item .updates-item-pic img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .updates .updates-content .updates-item .updates-item-pic .updates-item-pic-layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    transition: all 0.5s ease;
    opacity: 0;
  }
  .updates .updates-content .updates-item .updates-item-pic .updates-item-pic-layer:hover {
    opacity: 1;
  }
}

.updates .updates-content .updates-item .updates-item-text {
  text-align: center;
  -ms-flex: 1;
      flex: 1;
  padding: 20px 60px;
}

@media (min-width: 992px) {
  .updates .updates-content .updates-item .updates-item-text {
    padding: 20px 50px 20px 30px;
    text-align: left;
  }
}

.updates .updates-content .updates-item .updates-item-text p {
  color: #787878;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .updates .updates-content .updates-item .updates-item-text p:hover {
    color: #0022ff;
  }
}

.updates .btn {
  margin-top: 40px;
  background-color: #00b0ff;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  padding: 10px 35px;
  border-radius: 0;
}

.social-media {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*position: relative;
	z-index: 2;*/
}

@media (max-width: 1199.98px) {
  .social-media {
    margin-top: 150px;
  }
}

@media (max-width: 767.98px) {
  .social-media {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .social-media {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex: 50%;
        flex: 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .social-media {
    transform: translateY(30%);
  }
}

.social-media .instagram {
  margin: 0 10px;
  transition: all 1s ease-in-out;
}

@media (min-width: 992px) {
  .social-media .instagram:hover {
    box-shadow: 0 2px 30px rgba(255, 255, 255, 0.8);
  }
}

.social-media .instagram .instagram-header {
  opacity: 0.03;
  color: #000000;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 60px;
}

@media (min-width: 992px) {
  .social-media .instagram .instagram-header {
    font-size: 70px;
  }
}

@media (min-width: 1200px) {
  .social-media .instagram .instagram-header {
    font-size: 90px;
  }
}

.social-media .instagram .instagram-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  background-color: #ffffff;
}

.social-media .instagram .instagram-bar a {
  text-decoration: none;
}

.social-media .instagram .instagram-bar .fab {
  padding: 20px;
}

.social-media .instagram .instagram-bar p, .social-media .instagram .instagram-bar .fab {
  margin: 0;
  color: #00b0ff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .social-media .instagram .instagram-bar p, .social-media .instagram .instagram-bar .fab {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .social-media .instagram .instagram-bar p:hover, .social-media .instagram .instagram-bar .fab:hover {
    color: #000000;
  }
}

.social-media .instagram .instagram-bar .instagram-mail {
  margin-left: 30px;
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
}

@media (min-width: 992px) {
  .social-media .instagram .instagram-bar .instagram-mail:hover {
    color: #b3e7ff;
  }
}

.social-media .facebook {
  margin: 0 25px;
  margin-top: 100px;
  padding: 5px;
}

footer {
  /*position: relative;
	z-index: 1;*/
  background-color: #000000;
  min-height: 50vh;
}
/*# sourceMappingURL=style.prefixed.css.map */