@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
/*RWD mixins
@include media-breakpoint-up(sm) {
	@media (min-width: 544px) {}
}
@include media-breakpoint-down(sm) {
	@media (min-width: 544px) and (max-width: 768px) {}
}
@include media-breakpoint-between(sm, md) {
	@media (min-width: 576px) and (max-width: 991px) {}
}*/
* {
  box-sizing: border-box;
}

.jumbotron {
  min-height: 70vh;
  background-image: url(http://i63.tinypic.com/28vfx4p.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (min-width: 992px) {
  .jumbotron .jumbotron-fade {
    position: absolute;
    background-image: linear-gradient(to top, #ffffff 5%, rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.jumbotron .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .navbar-brand {
  font-family: "Montserrat";
  color: #000000;
  font-weight: 700;
  letter-spacing: -1.03px;
}

@media (max-width: 767.98px) {
  .jumbotron .navbar-brand {
    margin-right: 2vw;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .jumbotron .navbar-brand {
    margin-right: 4vw;
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  .jumbotron .navbar-brand:hover {
    color: #00b0ff;
  }
}

@media (min-width: 1200px) {
  .jumbotron .navbar-brand {
    padding: 0;
    margin-right: 8vw;
    font-size: 34px;
  }
}

.jumbotron .navbar-toggler-icon {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767.98px) {
  .jumbotron .nav-icons {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .jumbotron .nav-icons {
    margin-left: 4vw;
  }
}

@media (min-width: 1200px) {
  .jumbotron .nav-icons {
    margin-left: 8vw;
  }
}

.jumbotron .nav-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50%;
  font-size: 15px;
  margin: 0 2px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .jumbotron .nav-icons i:hover {
    background-color: #00b0ff;
    color: #000000;
  }
}

@media (min-width: 1200px) {
  .jumbotron .nav-icons i {
    font-size: 18px;
    width: 36px;
    height: 36px;
    margin: 0 3px;
  }
}

@media (max-width: 767.98px) {
  .jumbotron .navbar-nav {
    text-align: center;
  }
}

.jumbotron .navbar-nav .nav-link {
  font-family: "Montserrat";
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  margin: 0 7px;
}

@media (min-width: 992px) {
  .jumbotron .navbar-nav .nav-link:hover {
    background-color: #00b0ff;
    color: #ffffff;
  }
}

.jumbotron .dropdown-menu {
  opacity: 0.5;
}

.jumbotron .dropdown-menu .dropdown-item {
  font-family: "Montserrat";
}

.jumbotron .dropdown-menu .dropdown-item:hover {
  background-color: #00b0ff;
  color: #ffffff;
}

.jumbotron .header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  transform: translateY(100%);
}

@media (min-width: 992px) {
  .jumbotron .header-text {
    transform: translateY(125%);
  }
}

.jumbotron h1 {
  font-family: "Playfair Display";
  font-style: italic;
  color: #000000;
}

@media (max-width: 575.98px) {
  .jumbotron h1 {
    font-size: 22px;
  }
}

@media (min-width: 576px) {
  .jumbotron h1 {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .jumbotron h1 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .jumbotron h1 {
    font-size: 50px;
  }
}

.jumbotron h3 {
  font-family: "Playfair Display";
  font-style: italic;
  color: #ffffff;
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.64);
}

@media (max-width: 575.98px) {
  .jumbotron h3 {
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .jumbotron h3 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .jumbotron h3 {
    font-size: 24px;
  }
}

.card {
  margin-bottom: 200px;
}

.card .carousel {
  visibility: hidden;
  background-color: #fff;
  min-height: 600px;
  transform: translateY(-50%);
  box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.34);
}

@media (min-width: 1200px) {
  .card .carousel {
    visibility: visible;
  }
}

.card .carousel [class*='col-'] {
  padding: 0;
}

.card .carousel .carousel-control-prev-icon, .card .carousel .carousel-control-next-icon {
  background-color: #f2d800;
  width: 38px;
  height: 38px;
}

.card .carousel .carousel-indicators li {
  background-color: #f2d800;
  cursor: pointer;
}

.card .carousel .triangle-topleft {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 600px solid #00d2ff;
  border-right: 500px solid transparent;
}

.card .carousel .boards-text {
  position: absolute;
  font-family: "Montserrat";
  writing-mode: vertical-rl;
  font-size: 120px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.03;
  color: #000000;
}

.card .carousel .carousel-item {
  margin-top: 30px;
  margin-left: 30px;
}

.card .carousel .carousel-item .board-pics {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .carousel .carousel-item .board-pics img {
  width: 80px;
  height: 80px;
  margin: 2px;
  cursor: pointer;
}

.card .carousel .carousel-item .board-pics img:hover {
  border: 3px solid #00b0ff;
}

.card .carousel .carousel-item .board-desc {
  margin-top: 30px;
  max-width: 400px;
}

.card .carousel .carousel-item .board-desc h4 {
  color: #000000;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.card .carousel .carousel-item .board-desc .stars {
  color: #787878;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0 30px;
}

.card .carousel .carousel-item .board-desc .nav-link.active {
  border-color: #fff #fff #00b0ff;
  border-bottom: 3px solid #00b0ff;
  color: #000000;
}

.card .carousel .carousel-item .board-desc .nav-link {
  color: #a0a0a0;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.card .carousel .carousel-item .board-desc .tab-content {
  margin-top: 20px;
  color: #787878;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 24px;
}

.card .carousel .carousel-item .board-desc .buy {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.card .carousel .carousel-item .board-desc .price {
  color: #000000;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  margin-right: 40px;
}

.card .carousel .carousel-item .board-desc .btn {
  background-color: #00b0ff;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border-radius: 0;
  padding: 10px 25px;
}

.card .carousel .carousel-item .board-desc .all-boards {
  color: #00b0ff;
  font-family: "Montserrat";
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */